@model IEnumerable<SoldadosDoImperador.Models.AgrupPorPatente>

@{
    ViewData["Title"] = "Consulta: Lista por Patente";
}

<h1>@ViewData["Title"]</h1>
<p class="lead" style="font-family: 'EB Garamond', serif;">Lista de Astartes ordenada (agrupada) por Patente, gerada via Sintaxe de Consulta LINQ.</p>
<hr />

<p>
    <a asp-action="Index" class="btn btn-secondary">&laquo; Voltar ao Hub de Consultas</a>
</p>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capitulo)
            </th>
            @if (User.IsInRole("PRIMARCH"))
            {
                <th style="width: 200px;">Ações</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capitulo)
                </td>

                @if (User.IsInRole("PRIMARCH"))
                {
                    <td>
                        <a asp-controller="Soldados" asp-action="Edit" asp-route-id="@item.id" class="btn btn-sm btn-secondary">Editar</a>
                        <a asp-controller="Soldados" asp-action="Details" asp-route-id="@item.id" class="btn btn-sm btn-info">Detalhes</a>
                        <a asp-controller="Soldados" asp-action="Delete" asp-route-id="@item.id" class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>